<p>hacemos works!</p>
<section id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading">¿QUÉ HACEMOS?</h2>
              <!-- <h3 class="text-muted section-subheading">Lorem ipsum dolor sit amet consectetur</h3> -->
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4"><div id="hover">
              <button class="btn btn-outline-secondary btn-lg btn-block" routerLink="/consultar"
              id="btn-nombre"><img id="estilo_boton1" src="/static/img/BOTON1.png">
              </button>
          </div>
          <h4 class="section-heading">Puntos Acumulados</h4>
          <p >Conocer la cantidad de puntos acumulados en la tarjeta de Mas Puntos.</p>
      </div>
      <div class="col-md-4"><div id="hover">
          <button class="btn btn-outline-secondary btn-lg btn-block" routerLink="/consultar"
          id="btn-nombre"><img id="estilo_boton2" src="/static/img/canje_premios.png">
          </button>
      </div>
      <h4 class="section-heading">Canje de Premios</h4>
      <p >Opciones de premios a canjear en base al número de puntos del cliente y valor en dólares a canjear para que el cliente pueda realizar compras</p>
  </div>
  <div class="col-md-4"><div id="hover">
      <button class="btn btn-outline-secondary btn-lg btn-block" routerLink="/catalogo"
      id="btn-nombre"><img id="estilo_boton3" src="/static/img/BOTON3.png">
      </button>
  </div>
  <h4 class="section-heading">Consultas de catálogos</h4>
  <p >Consuta de catálogos y productos de oferta de acuerdo a la temporada en la que se encuentre.</p>
</div>
</div>
</div>
</section>

<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
