<!-- Barra de navegacion -->
<nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom">
  <div class="container"><img id="nav_tia" src="./static/img/tia.png"
                  onclick="location.href='index.html'"><button data-toggle="collapse"
                  class="navbar-toggler" data-target="#navbarResponsive"><span
                          class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="nav navbar-nav ml-auto">
                          <li class="nav-item" role="presentation"><a class="nav-link"
                            routerLink="/main">Inicio</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link"
                            routerLink="/hacemos">¿Qué hacemos?</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link"
                            routerLink="/equipo">Equipo de Desarrollo</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link"
                            routerLink="/contactanos">Contáctanos</a></li>
                  </ul>
          </div>
  </div>
</nav>
