<section>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="rounded-circle img-fluid" src="/static/img/equipo/carlos_cunalata.jpeg"></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h2 class="display-4">Carlos Cunalata</h2>
                  <p>Estudiante de la carrera de Ingeniería en Computación. Mi areá de trabajo es la minería de datos junto con el desarrollo de las aplicaciones web.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
              <div class="p-5"><img class="rounded-circle img-fluid" src="/static/img/equipo/dayse_maroto.jpg"></div>
          </div>
          <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                  <h2 class="display-4">Dayse Maroto</h2>
                  <p>Estudiante de la carrera de Ingeniería en Computación. Mi areá de trabajo es la minería de datos junto con el desarrollo de las aplicaciones web.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="rounded-circle img-fluid" src="/static/img/equipo/luis_montenegro.jpeg"></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h2 class="display-4">Luis Montenegro</h2>
                  <p>Estudiante de la carrera de Ingeniería en Computación. Mi areá de trabajo es la minería de datos junto con el desarrollo de las aplicaciones web.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
              <div class="p-5"><img class="rounded-circle img-fluid" src="/static/img/equipo/luis_carrasco.jpg"></div>
          </div>
          <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                  <h2 class="display-4">Luis Carrasco</h2>
                  <p>Estudiante de la carrera de Ingeniería en Computación. Mi areá de trabajo es la minería de datos junto con el desarrollo de las aplicaciones web.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
